

@mixin header-top{
  padding: 20px 25px;
  // display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  background-color: #36393F;
}

@mixin container{
  width: 100%;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}



@mixin istagan-narsa($text){
font-size: 32px;
font-weight: 800;


@if $text==h1{
  color:aqua;
  font-weight: 400;
  font-size: 21px;
}@else if $text==p{
  font-size: 50px;
}
@else {

}



}

@mixin header{
  // display: flex;
  justify-content: space-between;
  align-items:center;

}