.container-hero{
  @include for-flex;
  margin-bottom: 40px;
}

.hero-title{
  text-align: center;
  margin-bottom: 118px;
  margin-top: 0;
}

.hero-comment{
  max-width: 380px;
  height: 400px;
  background-color:#fff;
  margin-left: 20px;
}

.hero-card{
  // @include for-flex;
  display: flex;
  height: 95px;
  justify-content: flex-start;
  background-color:#36393F;
  list-style: none;
  margin: 0;
}

.hero-inner{
  padding: 25px 0px 10px 0px  ;
  color: #F6F6F7;
}

.hero-card-title{
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 29px;
}

.hero-text{
  // font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 21px;
}

.hero-comment-text{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding: 20px;
}

// FOOTER

.site-footer {
  width: 100%;
  margin-top: 40px;
  background-color: #36393F;
  width: 100%;
  height: auto;
  font-family: "Roboto", "Arial", sans-serif;
}

.footer-div {
  width: 100%;
  height: 368px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-card {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  padding-top: 40px;

}

.footer-ul {
  margin-right: 90px;
  // width: 229px;
  list-style-type: none;
}

.footer-ul2{

  padding: 0;
  margin: 0px;
}

.footer-title{
  width: 218px;
  margin: 0;
  padding: 0;
}

.footer-li {
  width: 300px;
  color: #FEFEFE;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

.footer-li2 {
  text-decoration: none;
  line-height: 24px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 34px;
  color: #C2C3C7;
}


.site-footer-div{
  padding: 170px 0px 0px 180px;
}

.card-socials{
  margin: 0;
  margin-bottom: 20px;
}

.card-socials2{
  margin: 0;
  margin-left: 22px;
}